{% extends "predictor/base.html" %}
{% comment "template_location" %}
'predictor/ajax_form.html'
{% endcomment %}
{% block content %}
<form class='my-ajax-form' method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
    {% csrf_token %}
    {{form.as_p|safe}}
    <button type='submit'>Submit</button>
</form>
{% endblock content %}

{% block javascript %}
<script>
    $(document).ready(function () {
        var $myForm = $('.my-ajax-form')
        $myForm.submit(function (event) {
            event.preventDefault()
            var $formData = $(this).serialize()
            var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
            $.ajax({
                method: "POST",
                url: $thisURL,
                data: $formData,
                success: handleFormSuccess,
                error: handleFormError,
            })
        })

        function handleFormSuccess(data, textStatus, jqXHR) {
            console.log(data)
            console.log(textStatus)
            console.log(jqXHR)
            $myForm.reset(); // reset form data
        }

        function handleFormError(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
    })
</script>
{% endblock javascript %}