{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "predictor/css/pigskin.css" %}" rel="stylesheet">
    <link href="{% static "predictor/css/materialize.pigskin.min.css" %}" rel="stylesheet">
    <!--Materialize CSS-->
    <!-- Compiled and minified CSS -->
    <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% if title %}
    <title>Pigskin Predictor - {{ title }}</title>
    {% else %}
    <title>Pigskin Predictor</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    
    <!---div class="navbar-fixed"-->
    <nav>
        <div class="nav-wrapper">
          <img class="logoimg" src="{% static "predictor/img/piglogo.png" %}" alt="logo">
          <a href="#!" class="brand-logo center">Pigskin Predictor</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'new-prediction-view' %}">Predict</a></li>
            <li><a href="{% url 'scoretable' %}">Leaderboard</a></li>
            <li><a href="{% url 'new-prediction-view' %}">Scoring</a></li>
            <li><a href="{% url 'new-prediction-view' %}">About</a></li>  
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Predict</a></li>
        <li><a href="{% url 'new-prediction-view' %}">Predict</a></li>
        <li><a href="{% url 'scoretable' %}">Leaderboard</a></li>
        <li><a href="{% url 'new-prediction-view' %}">Scoring</a></li>
        <li><a href="{% url 'new-prediction-view' %}">About</a></li>
      </ul>
    <!--/div-->

      {% block content %}
      {% endblock %}
    <script src="{% static "predictor/scripts/pigskin.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>