{% extends "predictor/base.html" %}
{% block content %}
<div class='container'>
    <div class="row">
        <div class="col s12 m4 l4"><p>
            <div class="card">
                <span class="card-title">
                    <Center>Quick to Play</Center>
                </span>
                <div class="card-content grey lighten-5">
                    <p>Pigskin Predictor is a weekly prediction game that takes less than the time it takes to make a decent cuppa!</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4"><p>
            <div class="card">
                <span class="card-title">
                    <Center>Difficult to Master</Center>
                </span>
                <div class="card-content grey lighten-5">
                    <p>Choose a different away team banker each week to win (or lose) double points!</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4"><p>
            <div class="card">
                <span class="card-title">
                <Center>Compete Against Friends</Center>
                </span>
                <div class="card-content grey lighten-5">
                    <p>Put your prediction skills to the test by going up against friends. Who will win out over a long 17 week season?</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}