{% extends "predictor/base.html" %}
{% block content %}

{% for prediction in predictions %}
<!--the below logic won't work thanks to django constraints.  Need to figure out a way around this -->
    {% if prediction.Winner == results.objects.get(GameID=2018123000).Winner %}
        {{ prediction.Game }} <strong>WINNER</strong>
    {% endif %}
    STATIC CONTENT<BR>
    {{ prediction.User }} | {{ prediction.Game }} | <strong>{{ prediction.Winner }}</strong><BR>
{% endfor %}

{% endblock content %}

<!--instances of post. changed to object. to comply with what DetailView expects to see by default-->