{% extends "predictor/base.html" %}
{% load material_form %}
{% load account %}
{% load i18n %}
{% block content %}
<script>
        $('#register').each(function(){
               $(this).toggleClass('active');
           });
       </script>
<div class="container">
    <div class="row">
        <div class="col s2 m2 l2">            
        </div>
        <div class="col s8 m8 l8">
            <h4>{% trans "Change Password" %}</h4>
            <p><i class="lni lni-checkmark blueicons icon-padding-right"></i>{% trans ' Your password has now been updated.' %}</p>
        </div>
    <div class="col s2 m2 l2"></div>
    </div>
</div>
{% endblock content %}