{% extends "predictor/base.html" %}
{% load markdown_extras %}
{% load predictor_custom_tags %}
{% block content %}
<script>
 $('#updates').each(function(){
        $(this).toggleClass('active');
    });
</script>
<div class='container'>
    <div class="row">
        <div class="col s12 m12">
    {% for post in posts %}
      <div id ="pigskin-markdown">
        <article class="media content-section">
            <div id="blog-title">
            <h5><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
            </div>
            <small class="post-metadata">{{ post.author }} | {{ post.date_posted|date:"F d, Y" }}</small>
            <a class="update-snippet" href="{% url 'post-detail' post.id %}">{{ post.short_content | markdown | safe}}</a>
        </article>
      </div>
      <br>
        <div class="divider"></div>   
    {% endfor %}
    <br>
        {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="waves-effect waves-light btn-small" href="?page=1">&lt;&lt;</a>
        <a class="waves-effect waves-light btn-small" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="waves-effect waves-light btn-small" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="waves-effect waves-light btn-small" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="waves-effect waves-light btn-small" href="?page={{ page_obj.next_page_number }}">&gt;</a>
        <a class="waves-effect waves-light btn-small" href="?page={{ page_obj.paginator.num_pages }}">&gt;&gt;</a>
      {% endif %}

    {% endif %}
    {% if request.user|has_group:"SuperUser" %}
      <span class="right-float"><a class="new-post" href="{% url 'post-create' %}"><i class="material-icons prefix centered-icon">create</i>New Update</a></span>
    {% endif %}
  </div>
  </div>
  </div>
{% endblock content %}