{% extends "predictor/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<script>
 $('#updates').each(function(){
        $(this).toggleClass('active');
    });
</script>
<div class='container'>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
                <h5>New Update</h5>
                <br>
                {{ form|crispy }}
            <div class="form-group">
            <br>
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}