{% extends "predictor/base.html" %}
{% block content %}
<script>
 $('#updates').each(function(){
        $(this).toggleClass('active');
    });
</script>
<div class='container'>
        <form method="POST">
            {% csrf_token %}
                <h5>Are you sure you want to delete the post "{{ object.title }}?"</h5>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
</div>
{% endblock content %}