{% extends "predictor/base.html" %}
{% block content %}
<div class='container'>
    <h4>About Pigskin Predictor</h4>
    <P class="flow-text">
        <blockquote><h5><em>
            Pigskin Predictor was born out of curiosity and built with passion
        </em></h5></blockquote>
         As an IT Infrastructure guy (think Perfmon & Wireshark analysis), I set out
         to expand my skillset in 2018 by taking, and completing, the edX course <a href="https://www.edx.org/course/6-00-1x-introduction-to-computer-science-and-programming-using-python-3" target="_blank">
            "Introduction to Computer Science and Programming Using Python"</a> offered by MIT. Following on from this, I found out about <a href="https://www.djangoproject.com/" target="_blank">Django</a> 
        and wondered what I could put together to take my Python skills further, and to start learning Django the best way; by making something.
        <br><br>
            I am a huge fan of the NFL and, in particular, the Chicago Bears. In the 2018/2019 season I played a weekly prediction game, jointly run
            by a colleague's cousin. The game involved emailing in weekly predictions, which the administrators added to a spreadsheet. The game results were
             then manually added to the spreadsheet to produce the scores. But this was prone to the occasional human error and clearly took the administrators a 
             long time to manage every week. So I thought, <em>"there's got to be a better way!"</em>
             <br><br>
             That was the lightbulb moment - why not try to use Python and Django to make a fully automated predictions game? One that automatically pulls 
             in the schedule information from the NFL, pulls in the results week-by-week, updates the scores based on those results, and shows an accurate 
             score table at all times?<br><br>
             That's what I've tried to build here and honestly, the process of putting this site together has been the most fun I've had with a 
             computer in a long time. From writing scripts to download XML data, extract the fields needed and turn into application import ready JSON, to 
             learning about Javascript and AJAX requests; it's been an absolute hoot.<br><br>
             // Thanks for reading - Nathan

        
    </P>
</div>
{% endblock content %}