{% extends "predictor/base.html" %}

{% block content %}
<script>
 $('#records').each(function(){
        $(this).toggleClass('active');
    });
</script>
<div class='container'>
    <div class="row">
        <div class="col s12 m6">
            <h5>Amend Record</h5>
            <form method="post">
            {% csrf_token %}
            {% form form=form %}
            {% endform %}
            <br>
            <button type="submit" style="float: right" class="btn waves-effect waves-light btn-green">Amend</button>
            <a class="waves-effect waves-light btn-small btn-red" href="{% url 'record-delete' object.id %}">Delete</a>
        </div>
    </div>
</div>
{% endblock content %}