{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "predictor/css/pigskin.css" %}" rel="stylesheet">
    <link href="{% static "predictor/css/materialize.pigskin.min.css" %}" rel="stylesheet">
    <!--Materialize CSS-->
    <!-- Compiled and minified CSS -->
    <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
            document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
      </script>
    {% if title %}
    <title>Pigskin Predictor - {{ title }}</title>
    {% else %}
    <title>Pigskin Predictor</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    
    <!---div class="navbar-fixed"-->
    <nav>
        <div class="nav-wrapper">
          <a href="{% url 'home' %}"><img class="logoimg" src="{% static "predictor/img/piglogo.png" %}" alt="logo"></a>
          <a href="{% url 'home' %}" class="brand-logo center">Pigskin Predictor</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li><a href="{% url 'new-prediction-view' %}">Predict</a></li>
            <li><a href="{% url 'scoretable' %}">Leaderboard</a></li>
            <li><a href="{% url 'scoring' %}">Scoring</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="/accounts/logout">Logout</a></li>
            {% else %}
            <li><a href="{% url 'scoretable' %}">Leaderboard</a></li>
            <li><a href="{% url 'scoring' %}">Scoring</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/accounts/signup">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
          {% if user.is_authenticated %}
          <li><a href="{% url 'new-prediction-view' %}">Predict</a></li>
          <li><a href="{% url 'scoretable' %}">Leaderboard</a></li>
          <li><a href="{% url 'new-prediction-view' %}">Scoring</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="/accounts/logout">Logout</a></li>
          {% else %}
          <li><a href="{% url 'scoretable' %}">Leaderboard</a></li>
          <li><a href="{% url 'new-prediction-view' %}">Scoring</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="/accounts/login">Login</a></li>
          <li><a href="/accounts/signup">Register</a></li>
          {% endif %}
      </ul>
      </header>
    <!--/div-->
      <main>
      {% block content %}
      {% endblock %}
      <p></p>
      </main>
      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l12 m12 s12">
              <p class="grey-text text-lighten-4">This site is provided free and not for profit.<BR>
              No Copyright infringement is intended.<BR>
              Team logos are provided by <A href="http://www.ospreydawn.com">OspreyDawn</A> under Creative Commons license. </p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          A <a href="http://nathanfisk.co.uk">Nathan Fisk</a> project
          </div>
        </div>
      </footer>
    <script src="{% static "predictor/scripts/pigskin.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>