{% load static %}
{% load cache %}
{% load predictor_custom_tags %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% cache 600 header request.user.username %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto|Sriracha" rel="stylesheet">
    <link href="{% static "predictor/css/pigskin.css" %}" rel="stylesheet">
    <link href="{% static "predictor/css/materialize.pigskin.min.css" %}" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/1dfcb13660.js" crossorigin="anonymous"></script>
    <script>
            document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
        </script>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
        });
      </script>
    {% if title %}
    <title>Pigskin Predictor - {{ title }}</title>
    {% else %}
    <title>Pigskin Predictor</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    
    <!---div class="navbar-fixed"-->
    <nav>
        <div class="nav-wrapper">
          <a href="{% url 'home' %}" class="brand-logo hide-on-med-and-down pigskin-logo">Pigskin Predictor</a>
          <a href="{% url 'home' %}"><img class="logoimg brand-logo center logo-pad" src="{% static "predictor/img/piglogo.png" %}" alt="logo"></a>
          
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li id="updates"><a class="navlink" href="{% url 'updates' %}">Updates</a></li>
            <li id="predict"><a class="navlink" href="{% url 'new-prediction-view' %}">Predict</a></li>
            <li id="results"><a class="navlink" href="{% url 'results' %}">Results</a></li>
            <li id="leaderboard"><a class="navlink" href="{% url 'scoretable' %}">Tables</a></li>
            <li id="profile"><a class="navlink" href="{% url 'profile' %}">Profile</a></li>
            <li id="records"><a class="navlink" href="{% url 'records' %}">Records</a></li>
            {% else %}
            <li id="leaderboard"><a class="navlink" href="{% url 'scoretable' %}">Tables</a></li>
            <li id="login"><a class="navlink" href="/accounts/login">Login</a></li>
            <li id="register"><a class="navlink" href="/accounts/signup">Register</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
          {% if user.is_authenticated %}
          <li id="updates"><a class="navlink" href="{% url 'updates' %}">Updates</a></li>
          <li><a href="{% url 'new-prediction-view' %}">Predict</a></li>
          <li><a href="{% url 'results' %}">Results</a></li>
          <li><a href="{% url 'scoretable' %}">Tables</a></li>
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'records' %}">Records</a></li>
          {% else %}
          <li><a href="{% url 'scoretable' %}">Leaderboards</a></li>
          <li><a href="/accounts/login">Login</a></li>
          <li><a href="/accounts/signup">Register</a></li>
          {% endif %}
      </ul>
      </header>
      <main>
      {% endcache %}
      {% block content %}
      {% endblock %}
      {% cache 600 footer request.user.username %}
      <p></p>
      </main>
      <footer class="page-footer footer-pigskin">
        <div class="container">
          <div class="row footer-row-pigskin">
            <div class="col l12 m12 s12 footer-row-pigskin">
              <p class="grey-text text-lighten-4 footer-text">This site is provided free and not for profit.<BR>
              No Copyright infringement is intended.<BR>
              Team logos are provided by <A href="http://www.ospreydawn.com" class="footer-link">OspreyDawn</A> under Creative Commons license. </p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container footer-text">
          An <a href="https://github.com/thefisk/pigskinpredictor" target="_blank" rel="noopener" class="footer-link">open source</a> project by Nathan Fisk&nbsp; |&nbsp; <a href="{% url 'about' %}" class="footer-link">About this site</a>
          &nbsp; |&nbsp; <a href="{% url 'scoring' %}" class="footer-link">Scoring</a>
          {% if request.user|has_group:"SuperUser" %}
          &nbsp; |&nbsp; <a href="{% url 'post-create' %}" class="footer-link">New Update</a>&nbsp; |&nbsp; <a href="{% url 'add-record' %}" class="footer-link">New Record</a>
          {% endif %}&nbsp; |&nbsp; <a href="/accounts/logout" class="footer-link">Logout</a>
          </div>
        </div>
      </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
{% endcache %}