<style>
        body {
          /* Set "my-sec-counter" to 0 */
          counter-reset: my-sec-counter;
        }
        
        .count::after {
          /* Increment "my-sec-counter" by 1 */
          counter-increment: my-sec-counter;
          content: counter(my-sec-counter) ". ";
        }
        </style>

{% extends "predictor/base.html" %}

{% block content %}
<!--Vue JS-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--script src="https://cdn.jsdelivr.net/npm/vue"></script-->
<!--Axios-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

{{ jsonpreds|json_script:'preds' }}
{{ points|json_script:'points' }}
{{ jsonuser|json_script:'currentuser' }}
{{ jsonurls|json_script:'logo_urls' }}
{{ apiroot|json_script:'apiroot' }}

<div class="container">
<h5 class="mb-3">Sunday Live <span class = "superlowlight">|</span> week {{ titleweek }}</h5>
    <div class="divider"></div>
    <p><h6 class="tip">Tables update every 60 secs</h6></p>
    <div class="row">
        <div id="vue-table">
            <div class="col m8 s12">
                <table class="striped table-top-pad" aria-describedby="Table Header">
                    <tr class="table-highlight">
                        <td class = "stats-table-header col-100-l">Live Sunday Pts</td>
                    </tr>
                </table>
                <table class="striped" aria-describedby="Live Sunday Scoretable">
                <thead>
                    <tr class="table-secondary">
                        <th class = "stats-header table-secondary-header pad-l table-right" colspan="2">Player</th>
                        <th class = "stats-header table-secondary-header table-right">Pts</th>
                    </tr>
                </thead>
                <tbody name ="livescores-score-table" is="transition-group">
                <tr v-for="entry in sortedTable" :key="entry.User">
                    <td v-if="entry.user ===  currentUser" class = "table-highlight enhanced clamp pad-l table-logo"><img v-bind:src="entry.FavTeam | imgurl" :alt="entry.FavTeam" class="team_small"></img></td>
                    <td v-else td class="enhanced clamp pad-l table-logo"><img :src="entry.FavTeam | imgurl" :alt="entry.FavTeam" class="team_small"></img></td>
                    <td v-if="entry.user ===  currentUser" class = "table-highlight enhanced clamp no-wrap">[[entry.User]] &nbsp;<span class=table-joker><i v-if="entry.Joker !== null" class="fas fa-check" v-bind:title="entry.Joker"></i></span></td>
                    <td v-else class="enhanced clamp no-wrap">[[entry.User]] &nbsp;<span class=table-joker><i v-if="entry.Joker !== null" class="fas fa-check" v-bind:title="entry.Joker"></i></span></td>
                    <td>[[entry.Points]]</td>
                </tr>
                </tbody>
                </table>

            </div>
        <div class="col m4 s12">
            <table class="striped table-top-pad" aria-describedby="Table Header">
                <tr class="table-highlight">
                    <td class = "stats-table-header col-100-l">Game Scores</td>
                </tr>
            </table>
            <table class="striped" aria-describedby="Live Sunday Games">
                <thead>
                    <tr class="table-secondary">
                        <th class = "stats-header table-secondary-header pad-l table-left" colspan="2">Away</th>
                        <th class = "stats-header table-secondary-header table-center">Score</th>
                        <th class = "stats-header table-secondary-header" colspan="2">Home</th>
                    </tr>
                </thead>
                <tbody name ="livegames-score-table" is="transition-group">
                    <tr v-for="game in sortedScores" :key="game.Game" v-bind:class="[game.Updated ? updatedClass : stdClass]">
                        <td class="table-left">[[game.AwayTeam]]</td>
                        <td class="table-left"><img v-bind:src="game.AwayTeam | imgurl" :alt="game.AwayTeam" style="vertical-align:middle" class="team_small"></td>
                        <td class="table-center">[[game.AwayScore]] - [[game.HomeScore]]</td>
                        <td><img v-bind:src="game.HomeTeam | imgurl" :alt="game.HomeTeam" style="vertical-align:middle" class="team_small"></td>
                        <td>[[game.HomeTeam]]</td>

                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        </div>

<script>
    let preds = JSON.parse(document.getElementById('preds').textContent);
    let apiroot = JSON.parse(document.getElementById('apiroot').textContent);
    let points = JSON.parse(document.getElementById('points').textContent);
    let currentUser = JSON.parse(document.getElementById('currentuser').textContent).user;
    let logoUrls = JSON.parse(document.getElementById('logo_urls').textContent);
    let liveScores = []
</script>

<script>
    const getAPI = axios.create({
        baseURL: apiroot.root,
        timeout: 1000,
    })
</script>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#vue-table',
        data: {
            stdClass: "livegamesnormal",
            updatedClass: "livegamesupdated",
            points,
            liveScores: [],
            sortedTable: [],
            sortedScores: [],
            preds,
            logoUrls,
            currentUser
        },
        filters:{
            imgurl: function(team) {
                return logoUrls[team]
            },
        },
        methods: {
            // Below will amend individual pred points
            scoreGames() {
                let scoreData = app.liveScores
                for (i in scoreData){
                    let gameid = scoreData[i].Game
                    console.log("Processing game "+gameid)
                    for (user in this.preds) {
                        console.log("- Processing user "+user)
                        let thisgame = this.preds[user].find(x => x.game === gameid)
                        if (thisgame) {
                            console.log("Found " + gameid + " in user " + user)
                            console.log(thisgame)
                            console.log(scoreData[i])
                            // If predictred winner is winning
                            if(thisgame.winner === scoreData[i].Winning) {
                                let lookup = scoreData[i].Winning + "Score"
                                let score = scoreData[i][lookup]
                                let multiplier = 1
                                if(thisgame.joker === true) {
                                    multiplier *= 3
                                }
                                if(thisgame.banker === true) {
                                    multiplier *= 2
                                }
                                thisgame.pts = score * multiplier
                            }
                            // If predicted winner is not winning
                            else {
                                let lookup = scoreData[i].Winning + "Score"
                                let score = scoreData[i][lookup]
                                // Check if a score value exists (if game has started)
                                if(score) {
                                    if(thisgame.banker === true) {
                                        let multiplier = -2
                                        if(thisgame.joker === true) {
                                            multiplier *= 3
                                        }
                                        thisgame.pts = score * multiplier
                                    }
                                    else {
                                        thisgame.pts = 0
                                    }
                                }
                                else {
                                        thisgame.pts = 0
                                    }
                            }
                        }
                    }
                }
                console.log("---scoreGames complete---")
                this.updateTotals();
            },
            updateTotals() {
                // Below will iterate through each user's pred pts and amend their total points for the live table
                for (user in preds){
                    let usertotal = 0
                    for (pred in preds[user]) {
                       usertotal += preds[user][pred]['pts']
                   }
                   let userpts = this.points.find(x => x.User === user)
                   userpts.Points = usertotal
                }
                this.sortScores();
            },
            sortScores() {
                this.sortedScores = (this.liveScores.sort((a,b) => a.State - b.State || a.KickOff - b.KickOff || a.TeamIndex - b.TeamIndex));
                this.sortTable()
            },
            sortTable() {
                this.sortedTable = (this.points.sort((a, b) => b.Points - a.Points));
                setTimeout(this.disableFlash,6000)
            },
            disableFlash() {
                for (game in app.sortedScores) {
                    app.sortedScores[game].Updated = false
                }
            },
            getLiveScores() {
                getAPI.get('/api/live-scores')
                .then(response => {
                    console.log('---API data received---')
                    app.liveScores = response.data
                })
                .then(result => {app.scoreGames()})
                .catch(err => {
                    console.log(err)
                })
            },
        },
        created() {
            this.getLiveScores();
            this.timer = setInterval(this.getLiveScores, 60000);
            }
        })
    
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static "predictor/scripts/pigskin.js" %}"></script>
{% endblock content %}