{% extends "predictor/base.html" %}
{% load predictor_custom_tags %}
{% block content %}
<script>
        $('#predict').each(function(){
               $(this).toggleClass('active');
           });
       </script>
    <div class="container">
        
        <h5 class="center-align" class="hideme">
        Amend  Predictions for week {{ week }}, {{ season }}
        </h5>
        <p><h6 class="center-align hideme"><em>Double click for away bankers, single click for all others</em></h6></p>
        
        <div id="predictioncards" class="row hideme">
            {% for match in matches %}
                <div class="col s12 m8 l3">
                    <div class="card grey lighten-5">

                        <div class="card-content white-text" id="{{ match.GameID }}">
                            <span class="card-title red-text darken-4 center-align game-card">
                                {{ match.AwayTeam.ShortName }} @ {{ match.HomeTeam.ShortName }}
                            </span>
                            <div class="center-align" id="{{ match.Week }}">
                                {% for game, winner in classdict.items %}
                                    {% if match.GameID == game %}
                                        {% if winner == 'Away'%}
                                            {% if match.GameID == originalbanker.BankGame.GameID %}
                                                <img class="responsive-img hoverable team chosenbanker" src="{{ match.AwayTeam.Logo.url }}" id="Away" alt="{{ match.AwayTeam }}">  <img class="responsive-img hoverable team" src="{{ match.HomeTeam.Logo.url }}" id="Home" alt="{{ match.HomeTeam }}">
                                            {% else %}
                                                <img class="responsive-img hoverable team chosenwinner" src="{{ match.AwayTeam.Logo.url }}" id="Away" alt="{{ match.AwayTeam }}">  <img class="responsive-img hoverable team" src="{{ match.HomeTeam.Logo.url }}" id="Home" alt="{{ match.HomeTeam }}">
                                            {% endif %}
                                        {% elif winner == 'Home' %}
                                            <img class="responsive-img hoverable team" src="{{ match.AwayTeam.Logo.url }}" id="Away" alt="{{ match.AwayTeam }}">  <img class="responsive-img hoverable team chosenwinner" src="{{ match.HomeTeam.Logo.url }}" id="Home" alt="{{ match.HomeTeam }}">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="divider hideme"></div>
        <div class = "section hideme" id="bankers">
            <h5>Used Bankers</h5>
            <ul>
                {% for banker in bankers %}
                    <li id="{{ banker.BankerTeam|corresponding_match }}"><img src="{{ banker.BankerTeam.Logo.url }}" alt="{{ banker.BankerTeam.Nickname }}" class="team_small"> {{ banker.BankerTeam }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="submitted">
        </div>
    <button id="predict-submit" class="waves-effect waves-light btn hideme" type="submit">Submit</button>
    {% load static %}
    <script src="{% static "predictor/scripts/pigskinamend.js" %}"></script>
{% endblock content %}