{% extends "predictor/base.html" %}
{% load material_form %}
{% block content %}
<script>
 $('#profile').each(function(){
        $(this).toggleClass('active');
    });
</script>
<div class='container'>
    <div class="row">
        <div class="col s12 m6">
            <h5>My Stats</h5>
            <div class="divider"></div>         
            <table id="stats-table" class = "striped">
            <br>
                <thead>
                    <tr class = "table-highlight">
                        <td class = "stats-table-header col-30">All Time</td>
                        <td class = "col-30"></td>
                        <td class = "col-40"></td>
                    </tr>
                    <tr class = "table-secondary">
                        <th class="stats-header table-secondary-header pad-l">Best Week</th>
                        <th class="stats-header table-secondary-header">Worst Week</th>
                        <th class="stats-header table-secondary-header">Overall Pct.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="stat-value pad-l">{{ alltimehigh }}<span class = "lowlight"> pts</span></td>
                        <td class="stat-value">{{ alltimelow }}<span class = "lowlight"> pts</span></td>
                        <td class="stat-value">{{ alltimepct }}<span class = "lowlight"> %</span></td>
                    </tr>
                </tbody>
            </table>
            <BR>
            <table id="stats-table" class = "striped">
                <thead>
                   <tr class = "table-highlight">
                        <td class = "stats-table-header col-30">{{ season }} Season</td>
                        <td class = "col-30"></td>
                        <td class = "col-40"></td>
                    </tr>
                    <tr class = "table-secondary">
                        <th class="stats-header table-secondary-header pad-l">Best Week</th>
                        <th class="stats-header table-secondary-header">Worst Week</th>
                        <th class="stats-header table-secondary-header">Overall Pct.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="stat-value pad-l">{{ seasonhigh }}<span class = "lowlight"> pts</span></td>
                        <td class="stat-value">{{ seasonlow }}<span class = "lowlight"> pts</span></td>
                        <td class="stat-value">{{ seasonpct }}<span class = "lowlight"> %</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col s12 m6">
            <h5>Edit my Profile</h5>
            <div class="divider"></div>
            <div><br></div>
            <form method="post">
            {% csrf_token %}
            {% form form=form %}
            {% part form.first_name prefix %}<i class="material-icons prefix icongrey">face</i>{% endpart %}
            {% part form.last_name prefix %}<i class="material-icons prefix icongrey">face</i>{% endpart %}
            {% part form.FavouriteTeam prefix %}<i class="material-icons prefix icongrey">sports_football</i>{% endpart %}
            {% endform %}
            <br>
            <button type="submit" style="float: right" class="btn waves-effect waves-light">update</button>
            </form>
            <br><br>
            <span class="right-float"><i class="material-icons prefix centered-icon">lock_open</i><a class="reset" href="/accounts/password/reset">RESET PASSWORD</a></span>
        </div>
    </div>
    {% if preds == "yes" %}
        <div class="row">
        <div class="col s12 m12">
            <table>
                    <tr class = "table-highlight">
                        <td class = "stats-table-header col-100">My Week {{ mypredweek }} Predictions</td>
                    </tr>
            </table>
            <table class="striped results-table table-fixed">
                <thead>
                    <tr class="results-table-row table-secondary">
                        <th class="table-left col-46 table-secondary-header">Road Team</th>
                        <th class="col-8"></th>
                        <th class="table-right col-46 table-secondary-header">Home Team</th>
                    </tr>
                </thead>
                <tbody>
            {% for pred in mypreds%}
            <tr>
                {% if pred.Winner == "Away" %}
                    {% if pred.Banker == True %}
                        <td class="profile-banker bank-background table-left">{{pred.Game.AwayTeam}}</td><td class="table-center bank-background at-banker">@</td><td class="profile-notpicked-banker bank-background table-right">{{pred.Game.HomeTeam}}</td>
                    {% else %}
                        <td class="profile-picked table-left">{{pred.Game.AwayTeam}}</td><td class="table-center at">@</td><td class="profile-notpicked table-right">{{pred.Game.HomeTeam}}</td>
                    {% endif %}
                {% endif %}
                {% if pred.Winner == "Home"%}
                    <td class="profile-notpicked table-left">{{pred.Game.AwayTeam}}</td><td class="table-center at">@</td><td class="profile-picked table-right">{{pred.Game.HomeTeam}}</td>
                {% endif %}
            {% endfor %}
            </tr>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}