{% extends "predictor/base.html" %}

{% block content %}
<script>
 $('#profile').each(function(){
        $(this).toggleClass('active');
    });
</script>
<div class='container'>
    <div class="row">
            <div class="col s12 m6">
            <h5>My Stats</h5>
            <div class="divider"></div>
            <P>Your season-long and all-time stats will appear here after your first week's play!
        </div>
        <div class="col s12 m6">
            <h5>Edit my Profile</h5>
            <div class="divider"></div>
            <div><br></div>
            <form method="post">
            {% csrf_token %}
            {% form form=form %}
            {% part form.first_name prefix %}<i class="material-icons prefix icongrey">face</i>{% endpart %}
            {% part form.last_name prefix %}<i class="material-icons prefix icongrey">face</i>{% endpart %}
            {% part form.FavouriteTeam prefix %}<i class="material-icons prefix icongrey">sports_football</i>{% endpart %}
            {% part form.Timezone prefix %}<i class="material-icons prefix icongrey">language</i>{% endpart %}
            {% endform %}
            <br>
            <button type="submit" style="float: right" class="btn waves-effect waves-light">update</button>
            </form>
            <br><br>
            <span class="right-float"><i class="material-icons prefix centered-icon">lock_open</i><a class="reset" href="/accounts/password/reset">RESET PASSWORD</a></span>
        </div>
    </div>
     {% if preds == "yes" %}
    <div class = "divider"></div>
        <div class="row">
        <div class="col s12 m12">
            <h5 style="text-align:center">My Week {{ mypredweek }} Predictions</h5>
            <table class="striped results-table">
                <thead>
                    <tr class="results-table-row">
                        <th class="table-left">Road Team</th>
                        <th></th>
                        <th class="table-right">Home Team</th>
                    </tr>
                </thead>
                <tbody>
            {% for pred in mypreds%}
            <tr>
                {% if pred.Winner == "Away" %}
                    {% if pred.Banker == True %}
                        <td class="profile-banker bank-background table-left">{{pred.Game.AwayTeam}}</td><td class="table-center bank-background at-banker">@</td><td class="profile-notpicked-banker bank-background table-right">{{pred.Game.HomeTeam}}</td>
                    {% else %}
                        <td class="profile-picked table-left">{{pred.Game.AwayTeam}}</td><td class="table-center">@</td><td class="profile-notpicked table-right">{{pred.Game.HomeTeam}}</td>
                    {% endif %}
                {% endif %}
                {% if pred.Winner == "Home"%}
                    <td class="profile-notpicked table-left">{{pred.Game.AwayTeam}}</td><td class="table-center">@</td><td class="profile-picked table-right">{{pred.Game.HomeTeam}}</td>
                {% endif %}
            {% endfor %}
            </tr>
            </table>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}