{% extends "predictor/base.html" %}
{% block content %}
<script>
 $('#scoring').each(function(){
        $(this).toggleClass('active');
    });
</script>
<div class='container'>
    <P class="flow-text">
        <blockquote><h5><em>
            Scoring is incredibly simple
        </em></h5></blockquote>
            For every prediction you make, you'll either score the points that the winning team scores in the real-life game (if your prediction was correct),
            or zero points if your prediction is wrong. There is <em>one exception</em> though, the <b>weekly banker</b>.
        <br><br>
            Each week you must pick one away team as your banker. This team will score you double if they win. But beware, they'll also score you double negative if they lose!
        <br><br>
            Choose your banker wisely, you can only select each team once per season.
        <br><br>
            New for 2021 is the addition of a once-per-season Joker!
        <br><br>
            Playing your joker will triple <em><b>all</b></em> of your points for that week - but be careful; a failed Joker Banker will score -6x pts and could be the difference between winning and losing!
        <br><br>
            // Good luck!

        
    </P>
</div>
{% endblock content %}