<style>
        body {
          /* Set "my-sec-counter" to 0 */
          counter-reset: my-sec-counter;
        }
        
        .count::after {
          /* Increment "my-sec-counter" by 1 */
          counter-increment: my-sec-counter;
          content: counter(my-sec-counter) ". ";
        }
        </style>

{% extends "predictor/base.html" %}
{% load predictor_custom_tags %}
{% block content %}
<script>
        $('#leaderboard').each(function(){
               $(this).toggleClass('active');
           });
       </script>
<div class="container">
<h5 class="mb-3">
    Division Leaderboard</h5>
    <a href="{% url 'scoretable' %}" class="smalllink">Standard Leaderboard</a>&nbsp;|&nbsp;<a href="{% url 'scoretableenhanced' %}" class="smalllink">Enhanced Leaderboard</a>
    <div id="scoretable" class="">
        <table class = "striped table-top-pad">
            <tr class = "table-highlight">
                <td class = "stats-table-header col-100-l">Standings after week {{ week }}</td>
            </tr>
        </table>
        <table class="striped">
            <thead>
                <tr class = "table-secondary">
                    <th class="stats-header table-secondary-header">Pos.</th>
                    <th class="stats-header table-secondary-header">Division</th>
                    <th class="stats-header table-secondary-header">Average Score</th>
                    <th class="stats-header table-secondary-header">Players</th>
                    <th class="stats-header table-secondary-header">Total Score</th>
                </tr>
            </thead>
            <tbody>
        {% for div, score in scores %}
            {% if div == userdivision %}
                <tr>
                    <td class="table-value count table-highlight"></td>
                    <td class="table-value table-highlight">{{ div }}</td>
                    <td class="table-value table-highlight">{{ score }}</td>
                    <td class="table-value table-highlight">{{ div|division_players }}</td>
                    <td class="table-value table-highlight">{{ div|division_total }}</td>
                </tr>
            {% else %}
                <tr>
                    <td class="table-value count"></td>
                    <td class="table-value">{{ div }}</td>
                    <td class="table-value">{{ score }}</td>
                    <td class="table-value">{{ div|division_players }}</td>
                    <td class="table-value">{{ div|division_total }}</td>
                </tr>
        {% endif %}
        {% endfor %}
            </tbody>
        </table>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static "predictor/scripts/pigskin.js" %}"></script>
{% endblock content %}