{% extends "predictor/base.html" %}
{% block content %}
<script>
 $('#scoring').each(function(){
        $(this).toggleClass('active');
    });
</script>
<div class='container'>
    <h4>Pigskin Predictor | Scoring</h4>
    <P class="flow-text">
        <blockquote><h5><em>
            Scoring is incredibly simple
        </em></h5></blockquote>
            For every prediction you make, you'll either score the points that the winning team scores in the real-life game (if your prediction was correct),
            or zero points if your prediction is wrong. There is <em>one exception</em> though, the weekly banker.
        <br><br>
            Each week you must pick one away team as your banker. This team will score you double if they win. But beware, they'll also score you double negative if they lose!
        <br><br>
            Choose your banker wisely, you can only select each team once per season.
        <br><br>
             // Good luck!

        
    </P>
</div>
{% endblock content %}