{% extends "predictor/base.html" %}
{% load predictor_custom_tags %}
{% block content %}
<script>
    $('#leaderboard').each(function(){
           $(this).toggleClass('active');
       });
</script>

<div class="container">
    <div class="row">
        <div class="col m2"></div>
        <div id="resultstable" class="col s12 m8">
            <h5 class="mb-3">Live Score Table</h5>
            <br>
            <h6>Come back after week 1 has been completed to see the live score tables and how you compared to everyone else. Good luck!
            </h6>
        </div>
        <div class="col m2"></div>
    </div>
</div>
{% endblock content %}