<style>
        body {
          /* Set "my-sec-counter" to 0 */
          counter-reset: my-sec-counter;
        }
        
        .count::after {
          /* Increment "my-sec-counter" by 1 */
          counter-increment: my-sec-counter;
          content: counter(my-sec-counter) ". ";
        }
        </style>

{% extends "predictor/base.html" %}
{% load predictor_custom_tags %}
{% block content %}
<script>
        $('#leaderboard').each(function(){
               $(this).toggleClass('active');
           });
       </script>
<div class="container">
<h5 class="mb-3">Leaderboards: <a href="{% url 'scoretable' %}" class = "big-link-inactive">Standard</a> <span class = "superlowlight">|</span> <a href="{% url 'scoretableenhanced' %}" class = "big-link-inactive">Enhanced</a> <span class = "superlowlight">|</span> <span class = "big-link-active">Division</span></h5>
<div class="divider"></div>
    <div id="scoretable" class="">
        <table class="striped table-top-pad" aria-describedby="Table Header">
            <tr class="table-highlight">
                <td class = "stats-table-header col-100-l">Standings after week {{ week }}</td>
            </tr>
        </table>
        <table class="striped" aria-describedby="Division Scoretable">
            <thead>
                <tr class = "table-secondary">
                    <th class="stats-pos table-secondary-header"><i class="pos-std fas fa-medal"></i></th>
                    <th class="stats-header table-secondary-header">Division ( <i class="fas fa-users"></i> )</th>
                    <th class="stats-header table-secondary-header">Avg Score</th>
                </tr>
            </thead>
            <tbody>
        {% for div, score in scores %}
            {% if div == userdivision %}
                <tr>
                    <td class="table-pos count table-highlight clamp"></td>
                    <td class="table-value table-highlight clamp">{{ div }} <span class="table-secondary-data">( {{ div|division_players }} )</span></td>
                    <td class="table-value table-highlight clamp">{{ score }}</td>
                </tr>
            {% else %}
                <tr>
                    <td class="table-pos count"></td>
                    <td class="table-value clamp">{{ div }} <span class="table-secondary-data">( {{ div|division_players }} )</span></td>
                    <td class="table-value clamp">{{ score }}</td>
                </tr>
        {% endif %}
        {% endfor %}
            </tbody>
        </table>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static "predictor/scripts/pigskin.js" %}"></script>
{% endblock content %}