<style>
        body {
          /* Set "my-sec-counter" to 0 */
          counter-reset: my-sec-counter;
        }
        
        .count::after {
          /* Increment "my-sec-counter" by 1 */
          counter-increment: my-sec-counter;
          content: counter(my-sec-counter) ". ";
        }
        </style>
 
{% extends "predictor/base.html" %}
{% load predictor_custom_tags %}
{% block content %}

<!--Vue JS-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script>
        $('#leaderboard').each(function(){
               $(this).toggleClass('active');
           });
       </script>
{{ jsonseasonscores|json_script:'seasonscores' }}
{{ jsonweekscores|json_script:'weekscores' }}
{{ jsonuser|json_script:'currentuser' }}
<div class="container">
<h5 class="mb-3">
    Enhanced Score Table</h5>
    <a href="{% url 'scoretable' %}" class="smalllink">Standard Score Table</a>&nbsp;|&nbsp;<a href="{% url 'scoretable-division' %}" class="smalllink">Division Score Table</a>
    <h6>Season {{ season }}<BR>
    Including week {{ week }} games
</h6>
<div id="vue-table">
            <table class="striped">
            <thead>
                <tr>
                    <th v-for="header in tableHeadings" @click="sort(header.jsonfield)" class="enhanced"><a href="#" class="sortable" :class="header.sorting ? 'sort-column' : 'non-sort-column'">[[ header.name ]]</a></th>
                </tr>
            </thead>
            <tbody>
            <tr v-for="score in sortedTable">
                <td v-if="score.user ===  currentUser" class = "table-highlight enhanced">[[score.pos]] </td>
                <td v-else td class="enhanced">[[score.pos]] </td>
                <td v-if="score.user ===  currentUser" class = "table-highlight enhanced"><img v-bind:src=[[score.logo]] class="team_small"></img>&nbsp; [[score.user]]</td>
                <td v-else class="enhanced"><img v-bind:src=[[score.logo]] class="team_small"></img>&nbsp; [[score.user]]</td>
                <td v-if="score.user ===  currentUser" class = "table-highlight enhanced">[[score.week]]</td>
                <td v-else class="enhanced">[[score.week]]</td>
                <td v-if="score.user ===  currentUser" class = "table-highlight enhanced">[[score.seasoncorrect]]</td>
                <td v-else class="enhanced">[[score.seasoncorrect]]</td>
                <td v-if="score.user ===  currentUser" class = "table-highlight enhanced">[[score.seasonpercentage]]</td>
                <td v-else class="enhanced">[[score.seasonpercentage]]</td>
                <td v-if="score.user ===  currentUser" class = "table-highlight enhanced">[[score.seasonbest]]</td>
                <td v-else class="enhanced">[[score.seasonbest]]</td>
                <td v-if="score.user ===  currentUser" class = "table-highlight enhanced">[[score.seasonaverage]]</td>
                <td v-else class="enhanced">[[score.seasonaverage]]</td>
                <td v-if="score.user ===  currentUser" class = "table-highlight enhanced">[[score.seasonworst]]</td>
                <td v-else class="enhanced">[[score.seasonworst]]</td>
                <td v-if="score.user ===  currentUser" class = "table-highlight enhanced">[[score.bankeraverage]]</td>
                <td v-else class="enhanced">[[score.bankeraverage]]</td>
                <td v-if="score.user ===  currentUser" class = "table-highlight enhanced">[[score.seasonscore]]</td>
                <td v-else class="enhanced">[[score.seasonscore]]</td>
            </tr>
            </tbody>
            </table>
</div>

<script>
let seasonScores = JSON.parse(document.getElementById('seasonscores').textContent).season_scores;
let weekScores = JSON.parse(document.getElementById('weekscores').textContent).week_scores;
let currentUser = JSON.parse(document.getElementById('currentuser').textContent).user;

// for loop to add weekScores to seasonScores for each user

</script>
<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#vue-table',
        data: {
            seasonScores,
            weekScores,
            currentSort: 'pos',
            currentSortDir: 'asc',
            currentSorting: 'posasc',
            tableHeadings: [
                {
                    "name": "Pos",
                    "jsonfield": "pos",
                    "sortAsc": true,
                    "sortDesc": false,
                    "sorting": true
                },
                {
                    "name": "Player",
                    "jsonfield": "user",
                    "sortAsc": false,
                    "sortDesc": false,
                    "sorting": false
                },
                {
                    "name": "Last Week",
                    "jsonfield": "week",
                    "sortAsc": false,
                    "sortDesc": false,
                    "sorting": false
                },
                {
                    "name": "No. Correct",
                    "jsonfield": "seasoncorrect",
                    "sortAsc": false,
                    "sortDesc": false,
                    "sorting": false
                },
                {
                    "name": "% Correct",
                    "jsonfield": "seasonpercentage",
                    "sortAsc": false,
                    "sortDesc": false,
                    "sorting": false
                },
                {
                    "name": "Best Week",
                    "jsonfield": "seasonbest",
                    "sortAsc": false,
                    "sortDesc": false,
                    "sorting": false
                },
                {
                    "name": "Avg Week",
                    "jsonfield": "seasonaverage",
                    "sortAsc": false,
                    "sortDesc": false,
                    "sorting": false
                },
                {
                    "name": "Worst Week",
                    "jsonfield": "seasonworst",
                    "sortAsc": false,
                    "sortDesc": false,
                    "sorting": false
                },
                {
                    "name": "Avg Banker",
                    "jsonfield": "bankeraverage",
                    "sortAsc": false,
                    "sortDesc": false,
                    "sorting": false
                },
                {
                    "name": "Score",
                    "jsonfield": "seasonscore",
                    "sortAsc": false,
                    "sortDesc": false,
                    "sorting": false
                }
            ]
        },
        methods: {
            sort: function(s){
                // find tableHeading sort value and set to false
                header = this.tableHeadings.find(x => x.jsonfield === this.currentSort);
                if (this.currentSortDir === "asc") {
                    direction = "sortAsc";
                }
                else {
                    direction = "sortDesc";
                }
                header[direction] = false;
                header.sorting = false;
                // if s == current sort, reverse
                if(s === this.currentSort) {
                    this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
                }
                this.currentSort =s;
                this.currentSorting = s+this.currentSortDir;
                // find new header and set sort value to true
                newheader = header = this.tableHeadings.find(x => x.jsonfield === this.currentSort);
                if (this.currentSortDir === "asc") {
                    direction = "sortAsc";
                }
                else {
                    direction = "sortDesc";
                }
                newheader[direction] = true;
                newheader.sorting = true;
            }
        },
        computed:{
            sortedTable:function() {
                return this.seasonScores.sort((a,b) => {
                let modifier = 1;
                if(this.currentSortDir === 'desc') modifier = -1;
                if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                return 0;
                });
            }
        }
    })
</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static "predictor/scripts/pigskin.js" %}"></script>
{% endblock content %}