<style>
        body {
          /* Set "my-sec-counter" to 0 */
          counter-reset: my-sec-counter;
        }
        
        .count::after {
          /* Increment "my-sec-counter" by 1 */
          counter-increment: my-sec-counter;
          content: counter(my-sec-counter) ". ";
        }
        </style>

{% extends "predictor/base.html" %}
{% load predictor_custom_tags %}
{% block content %}
<script>
        $('#leaderboard').each(function(){
               $(this).toggleClass('active');
           });
       </script>
<div class="container">
<h5 class="mb-3">
    Division Score Table</h5>
    <a href="{% url 'scoretable' %}" class="smalllink">Standard Score Table</a>&nbsp;|&nbsp;<a href="{% url 'scoretableenhanced' %}" class="smalllink">Enhanced Score Table</a>
    <h6>Season {{ season }}<BR>
    Including week {{ week }} games
</h6>
    <div id="scoretable" class="">
        <table class="striped">
            <thead>
                <tr>
                    <th>Pos.</th>
                    <th>Division</th>
                    <th>Average Score</th>
                    <th>Players</th>
                    <th>Total Score</th>
                </tr>
            </thead>
            <tbody>
        {% for div, score in scores %}
            {% if div == userdivision %}
                <tr>
                    <td class="count userdiv"></td>
                    <td class="userdiv">{{ div }}</td>
                    <td class="userdiv">{{ score }}</td>
                    <td class="userdiv">{{ div|division_players }}</td>
                    <td class="userdiv">{{ div|division_total }}</td>
                </tr>
            {% else %}
                <tr>
                    <td class="count"></td>
                    <td>{{ div }}</td>
                    <td>{{ score }}</td>
                    <td>{{ div|division_players }}</td>
                    <td>{{ div|division_total }}</td>
                </tr>
        {% endif %}
        {% endfor %}
            </tbody>
        </table>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static "predictor/scripts/pigskin.js" %}"></script>
{% endblock content %}