<style>
        body {
          /* Set "my-sec-counter" to 0 */
          counter-reset: my-sec-counter;
        }
        
        .count::after {
          /* Increment "my-sec-counter" by 1 */
          counter-increment: my-sec-counter;
          content: counter(my-sec-counter) ". ";
        }
        </style>

{% extends "predictor/base.html" %}

{% block content %}
<script>
        $('#leaderboard').each(function(){
               $(this).toggleClass('active');
           });
       </script>
<div class="container">
<h5 class="mb-3">Leaderboards: <span class = "big-link-active">Standard</span> <span class = "superlowlight">|</span> <a href="{% url 'scoretableenhanced' %}" class = "big-link-inactive">Enhanced</a> <span class = "superlowlight">|</span> <a class = "big-link-inactive" href="{% url 'scoretable-division' %}">Division</a></h5>
    <div class="divider"></div>
    <div id="scoretable" class="">
        <table class = "striped table-top-pad">
                <tr class = "table-highlight">
                    <td class = "stats-table-header col-100-l">Standings after week {{ week }}</td>
                </tr>
        </table>
        <table class = "striped">
            <thead>
                <tr class = "table-secondary">
                    <th class="stats-header table-secondary-header">Pos.</th>
                    <th class="stats-header table-secondary-header">Player</th>
                    <th class="stats-header table-secondary-header">Last Week</th>
                    <th class="stats-header table-secondary-header">Total Score</th>
                </tr>
            </thead>
            <tbody>
        {% for seasonscore in seasonscores %}
            {% if seasonscore.User == user %}
                <tr class = "table-user-highlight">
            {% else %}
                <tr>
            {% endif %}
                    <td class="count table-value"></td>
                    <td class="table-value"><img src="{{ seasonscore.User.FavouriteTeam.Logo.url }}" class="team_small"> &nbsp; {{ seasonscore.User.first_name }} {{ seasonscore.User.last_name }}</td>
                    {% if seasonscore.User in nopreds %}
                        <td class="table-value">Did Not Play</td>
                    {% else %}
                        {% for weekscore in weekscores %}
                            {% if seasonscore.User == weekscore.User %}
                            <td class="table-value">{{ weekscore.WeekScore }}</td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <td class="table-value">{{ seasonscore.SeasonScore }}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
{% load static %}
<script src="{% static "predictor/scripts/pigskin.js" %}"></script>
{% endblock content %}