{% extends "predictor/base.html" %}
{% block content %}
<script>
 $('#predict').each(function(){
        $(this).toggleClass('active');
    });
</script>
<div class='container'>
    <h5>Pigskin Predictor | Week 17</h5>
        <br>
            Sadly, there are no more games left to predict {{ year }}, {{ player }}!
        <br><br>
            You're currently on {{ score }} points.  Come back next week to see how you finished.
        <br><br>
             // Thanks again for playing in {{ year }} and good luck for week 17!

</div>
{% endblock content %}