{% extends "predictor/base.html" %}
{% block content %}
<script>
 $('#predict').each(function(){
        $(this).toggleClass('active');
    });
</script>
<div class='container'>
    <h5>Thanks For Playing</h5>
        <br>
            Thanks for playing in {{ year }}, {{ player }}!
        <br><br>
            You finished with {{ score }} points.  Check out the <a href="{% url 'scoretable' %}">scoretable</a> to see how you placed.
        <br><br>
            Come back in time for the {{ nextyear }} season to play again!
        <br><br>
             // Thanks again       

</div>
{% endblock content %}