.chosenwinner {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: green !important;
}

.chosenbanker {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: orangered !important;
}

.game-card {
    font-size: 20px !important;
    color: #01579b !important;
}

.logoimg {
    max-height: 100%;
}

.team {
    height: 75px;
    width: 75px;
}

.team_small{
    height: 20px;
    width: 20px;
}

.error{
    font-family: roboto;
    color: red;
    font-size: 90% ;
    font-weight: 700;
}

.reportheader{
    color: firebrick;
    font-size: 120%;
    font-weight: 400;
}

.navlink{
    font-family: roboto;
    color: white;
    font-size: 110%;
}

.thodd{
   color: dimgrey; 
} 

.tdodd{
    color: dimgrey;
}

.theven{
    color: darkslategrey;
}

.tdeven{
    color: darkslategrey;
}

.enhanced{
    font-size:90%;
}

.scoretablelow{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 4px red, 0 0 8px red, 0 0 25px red;
}

.scoretablehigh{
    color: white;
    font-size: 110% !important;
    text-shadow: 1px 1px 2px black, 0 0 4px gold, 0 0 8px gold, 0 0 25px gold;
}

.smalllink{
    font-size: small !important;
    color: steelblue;
    text-decoration-line: underline;
}

.footer-pigskin{
    padding-top: 0% !important;
}

.footer-row-pigskin{
    margin-bottom: 0% !important;
    padding-left: 0% !important;
    padding-right: 0% !important!;
}

.footer-text{
    font-size: 85%;
}

a.footer-link{
    color:deepskyblue;
}

a.footer-link:hover{
    color: aliceblue;
    text-decoration: underline;
}

.brand-logo{
    padding-left: 10px !important;
}